html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	border: 0;
	padding: 0;

}


body {
	font-family: 'Roboto Mono', monospace;
	color: #292929;
	/*border: 20px solid #bb00ff;*/
}

.border-left {
	height: 100%;
	width: 21px;
	background-color: #bb00ff;
	padding: 0;
	border: 0;
	z-index: 99;
	position: fixed;
	left: -1px;
	top: 0;
}

.border-top {
	height: 21px;
	width: 100%;
	background-color: #bb00ff;
	padding: 0;
	margin-top: 0;
	z-index: 99;
	position: fixed;
	left: 0;
	top: -1px;
}

.border-right {
	height: 100%;
	width: 21px;
	background-color: #bb00ff;
	padding: 0;
	border: 0;
	z-index: 99;
	position: fixed;
	right: -1px;
	top: 0;
}

.border-bottom {
	height: 21px;
	width: 100%;
	background-color: #bb00ff;
	padding: 0;
	margin-top: 0;
	z-index: 99;
	position: fixed;
	left: 0;
	bottom: -1px;
}

.arrow-up {
	color: #bb00ff;
	/*background-color: rgba(255,255,255,0.1);
	padding: 5px;
	border-radius: 500px;*/
	z-index: 99;
	position: fixed;
	right: 40px;
	bottom: 38px;
}

.arrow-up:hover {
	color: #8700b8;
}

/*NAVBAR-------------------------------*/

nav.navbar-transparente {
	padding: 27px 0 10px 0;
	background: linear-gradient(to bottom, #ffffff, rgba(255,255,255,0.8));
	z-index: 98;
}

.navbar-light .navbar-nav .nav-link {
	color: #292929;
	font-style: italic;
	font-weight: 600;
	letter-spacing: 0.3em;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0,0,0,0);
	transition: color 0.4s, border 0.4s;
}  

.navbar-light .navbar-nav .nav-link:hover {
	color: #bb00ff;
	font-weight: 800;
	border-bottom: 1px solid #292929;
}


/*MENU HAMBURGUER-----------------------------*/

.navbar-light .navbar-toggler {
    color: #292929;
    border: 0;
}

.navbar-light .navbar-toggler:hover {
    color: #BB00FF;
}

.navbar-light .navbar-toggler:active {
    color: #BB00FF;
    border: 0;
}


/*BUTTONS--------------------------------*/

a#linkedin {
	color: #bb00ff;
}

a:hover#linkedin {
	color: #8700b8;
}

/*STYLE-------------------------------*/

#bars-1 {
	height: 35px;
	position: relative;
	margin-top: 0px;
	margin-left: -100px;
}

#bars-2 {
	height: 70px;
	position: relative;
	margin-bottom: -500px;
	margin-left: 1000px;
}

#bars-3 {
	height: 50px;
	position: relative;
	margin-left: 250px;
	margin-bottom: -40px;
	margin-top: 30px;
}

/*FORMATAÇÃO TEXTO------------------------------*/

h3 {
	font-weight: 400;
	font-size: 4em;
	font-style: italic;
	text-align: left;
	color: #292929;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255,255,255,0)), color-stop(40%, #c31fff));
    background: -o-linear-gradient(top, rgba(255,255,255,0) 60%, #c31fff 40%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, #c31fff 40%);
	margin-top: 150px;
	padding: 0 15px;
	display: inline-block;
}


h4 {
	font-weight: 400;
	font-size: 2em;
	font-style: italic;
	text-align: left;
	color: #292929;
	/*background: repeating-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0) 59.9%, #BB00FF 60.1%, #BB00FF 100%);*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255,255,255,0)), color-stop(40%, #c31fff));
    background: -o-linear-gradient(top, rgba(255,255,255,0) 60%, #c31fff 40%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, #c31fff 40%);
	margin-top: 150px;
	padding: 0 15px;
	display: inline-block;
}

p {
	font-family: 'Roboto', sans-serif;
}

#lead p {
	clear: both;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.8em;
	color: #292929;
	margin: 10px auto;
	text-align: left;	
}

#credits p {
	font-weight: 400;
	font-size: 0.8em;
	line-height: 1.8em;
	color: #292929;
	margin: 40px auto;
	text-align: center;	
}

.meta-container {
    margin: 30px 0;
    width: 90%;
}

span.meta {
    font-size: 0.8em;
    font-style: italic;
    padding: 0.2em 0.5em;
    background-color: white;
    color: #bb00ff;
    border: 1px solid #292929;
    display: inline-block;
    margin-bottom: 5px;
}

hr {
	margin-top: 3px;
	margin-bottom: 8px;
}

footer p {
	color: white;
	margin-top: 35px;
	font-size: 0.8em;
	line-height: 1.6em;
}

/*ESTRUTURA---------------------*/

.img-portfolio {
	margin-top: 90px;
}

#lead {
	padding-bottom: 150px;
}

#credits {
	padding-bottom: 150px;
}


footer {
	background-color: #292929;
	padding: 50px 0px 70px 0px;
}

footer .navbar-nav a {
	color: white;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.3em;
	margin: 0 0 10px 20px;
	padding: 0 0 0 10px;
	transition: color 0.4s, border 0.4s;
}

footer .navbar-nav a:hover {
	color: #BB00FF;
	text-decoration: none;
	font-weight: 600;
}

footer ul {
	list-style: none;
}


/*MEDIA QUERIES----------------------*/

/*// Extra Small devices */
@media (max-width: 575.9px) {
	.container {
		max-width: 90%;
	}
	
	.border-left {
		width: 11px;
	}

	.border-top {
		height: 11px;
	}

	.border-right {
		width: 11px;
	}

	.border-bottom {
		height: 11px;
	}

	#arrow {
		display: none;
	}

	h3 {
		font-size: 2em;
		margin-top: 75px;
	}
	
	#bars-1 {
		height: 35px;
		position: relative;
		margin-top: 30px;
		margin-left: -250px;
	}

	/*.img-hor {
		display: none;	
	}*/
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.9px) {
	.container {
		max-width: 90%;
	}
	
	.border-left {
		width: 11px;
	}

	.border-top {
		height: 11px;
	}

	.border-right {
		width: 11px;
	}

	.border-bottom {
		height: 11px;
	}

	#arrow {
		display: none;
	}

	h1 {
		font-size: 6em;
	}

	h3 {
		font-size: 3em;
		margin-top: 75px;
	}

	/*.img-hor {
		display: none;	
	}*/
	
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.9px) {
	#lead p {
		margin: 40px 50px 10px 100px;
	}

	.meta-container {
	    margin: 30px 0 30px 95px;
	    width: 50%;
	}

	.img-vert {
		display: none;	
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1365.9px) {
	#lead p {
		margin: 40px 300px 10px 100px;
	}

	.meta-container {
	    margin: 30px 0 30px 95px;
	    width: 50%;
	}

	#bars-3 {
		margin-left: 700px;
	}

	.img-vert {
		display: none;	
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1366px) {
	.container {
		max-width: 1366px;
	}

	#lead p {
		margin: 40px 500px 10px 90px;
	}

	.meta-container {
	    margin: 30px 0 30px 95px;
	    width: 50%;
	}

	#bars-3 {
		margin-left: 1000px;
	}

	.img-vert {
		display: none;	
	}
}
